<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div class="font-weight700">
        Attedance</div>
    </div>
    <div fxLayout="row wrap" class="overflow-x-auto height80vh" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="stucky-header" fxFlex="100" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column">
          <table mat-table [dataSource]="page?.userTableData" *ngIf="!page.admin" fxShow="!page.admin" matSort class="table-width-fix">
            <tr mat-header-row *matHeaderRowDef="[&apos;fullName&apos;,&apos;email&apos;,&apos;8184657a-6479-72e5-90ea-68b2d782d740&apos;,&apos;_id&apos;]"></tr>
            <tr mat-row *matRowDef="let row; columns: [&apos;fullName&apos;,&apos;email&apos;,&apos;8184657a-6479-72e5-90ea-68b2d782d740&apos;,&apos;_id&apos;];"></tr>

            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.fullName}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.email}}</td>
            </ng-container>

            <ng-container matColumnDef="8184657a-6479-72e5-90ea-68b2d782d740">
              <th mat-header-cell *matHeaderCellDef>Attendance</th>
              <td mat-cell *matCellDef="let table; let i = index;"><span [ngClass]="(table.attendance === false) ? &apos;red-color&apos;: &apos;green-color&apos;">
                {{ (table.attendance === false) ? &apos;Absent&apos;: &apos;Present&apos; }}</span></td>
            </ng-container>

            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef>Attendance ID</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table._id}}</td>
            </ng-container>
          </table>
        </div>

        <div fxLayout="column">
          <table mat-table [dataSource]="page?.tableData" matSort class="table-width-fix">
            <tr mat-header-row *matHeaderRowDef="[&apos;fullName&apos;,&apos;email&apos;,&apos;8184657a-6479-72e5-90ea-68b2d782d740&apos;,&apos;_id&apos;]"></tr>
            <tr mat-row *matRowDef="let row; columns: [&apos;fullName&apos;,&apos;email&apos;,&apos;8184657a-6479-72e5-90ea-68b2d782d740&apos;,&apos;_id&apos;];"></tr>

            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.fullName}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.email}}</td>
            </ng-container>

            <ng-container matColumnDef="8184657a-6479-72e5-90ea-68b2d782d740">
              <th mat-header-cell *matHeaderCellDef>Attendance</th>
              <td mat-cell *matCellDef="let table; let i = index;"><span [ngClass]="(table.attendance === false) ? &apos;red-color&apos;: &apos;green-color&apos;">
                {{ (table.attendance === false) ? &apos;Absent&apos;: &apos;Present&apos; }}</span></td>
            </ng-container>

            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef>Attendance ID</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table._id}}</td>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>