<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="column wrap" class="overflow-x-auto" fxFlex="100" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="height31vh" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" class="height100" fxFlex="24" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-card class="height100">
          <mat-card-content>
            <div fxLayout="column wrap" fxLayoutGap="9px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div class="font-weight700">
                Emplyees</div>
              <div fxLayout="row wrap" class="lightBlue-color" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-icon>filter_list</mat-icon>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div class="xxx-largeFont font-weight700">
                  100</div>
                <div>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  Employee&apos;s count </div>
                <div>
                  100</div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
      <div fxLayout="column wrap" class="height100" fxFlex="24" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-card class="height100">
          <mat-card-content>
            <div fxLayout="column wrap" fxLayoutGap="9px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div class="font-weight700">
                Emplyees</div>
              <div fxLayout="row wrap" class="lightBlue-color" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-icon>filter_list</mat-icon>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div class="xxx-largeFont font-weight700">
                  100</div>
                <div>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  Employee&apos;s count </div>
                <div>
                  100</div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
      <div fxLayout="column wrap" class="height100" fxFlex="24" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-card class="height100">
          <mat-card-content>
            <div fxLayout="column wrap" fxLayoutGap="9px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div class="font-weight700">
                Emplyees</div>
              <div fxLayout="row wrap" class="lightBlue-color" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-icon>filter_list</mat-icon>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div class="xxx-largeFont font-weight700">
                  100</div>
                <div>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  Employee&apos;s count </div>
                <div>
                  100</div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
      <div fxLayout="column wrap" class="height100" fxFlex="24" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-card class="height100">
          <mat-card-content>
            <div fxLayout="column wrap" fxLayoutGap="9px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div class="font-weight700">
                Emplyees</div>
              <div fxLayout="row wrap" class="lightBlue-color" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-icon>filter_list</mat-icon>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div class="xxx-largeFont font-weight700">
                  100</div>
                <div>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  Employee&apos;s count </div>
                <div>
                  100</div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row wrap" class="height52vh" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" class="height100" fxFlex="49.5" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-card class="height100">
          <mat-card-content>
            <div fxLayout="column wrap" fxLayoutGap="3px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div>
                Employee Attendance</div>
              <div fxLayout="column wrap" class="lightBlue-color" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-icon>stacked_bar_chart</mat-icon>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxFlex="100">
                  <canvas baseChart [datasets]="page.chartDatasets" [labels]="page.chartLabels" [options]="page.chartOptions" [colors]="page.chartColors" chartType="bar"></canvas>
                </div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
      <div fxLayout="column wrap" class="height100" fxFlex="49.5" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-card class="height100">
          <mat-card-content>
            <div fxLayout="column wrap" fxLayoutGap="3px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div>
                Employee Attendance</div>
              <div fxLayout="column wrap" class="lightBlue-color" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-icon>pie_chart</mat-icon>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxFlex="100">
                  <canvas baseChart [datasets]="page.pieChartData" [labels]="page.pieChartLabels" [options]="page.pieChartOptions" chartType="pie"></canvas>
                </div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>