<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <mat-card>
      <mat-card-title>Edit Employee</mat-card-title>

      <mat-card-content>
        <form #editEmployeeForm="ngForm">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput [(ngModel)]="page.dm.editemployee.fullName" name="fullName" placeholder="First Name" [required]="true">
              <mat-error align="start" *ngIf="editEmployeeForm.controls[&apos;firstName&apos;]?.errors?.required">First Name is required</mat-error>
              <mat-label>Name</mat-label>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput [(ngModel)]="page.dm.editemployee.email" name="email" placeholder="Email" [required]="true" email>
              <mat-error align="start" *ngIf="editEmployeeForm.controls[&apos;lastName&apos;]?.errors?.required">Surname is required</mat-error>
              <mat-error align="start" *ngIf="editEmployeeForm.controls[&apos;lastName&apos;]?.errors?.pattern">Only Letters allowed</mat-error>
              <mat-label>Email</mat-label>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput [(ngModel)]="page.dm.editemployee.attendance" name="attendance" type="boolean" placeholder="Attendance Status" [required]="true">
              <mat-error align="start" *ngIf="editEmployeeForm.controls[&apos;section&apos;]?.errors?.required">Email is required</mat-error>
              <mat-label>Section</mat-label>
            </mat-form-field>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="end stretch" [fxShow]="true"><button mat-raised-button [mat-dialog-close]="editEmployeeForm.value" [disabled]="editEmployeeForm.invalid">Edit </button><button mat-raised-button mat-dialog-close>Cancel</button></div>
            </div>
          </div>
        </form>
      </mat-card-content>

      <mat-card-actions></mat-card-actions>
    </mat-card>
  </div>
</div>